#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.display-products{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 24px;
}

.home-pics{
  width: 50%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


