#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: whitesmoke;
  margin-bottom: 10em;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.categories-dropdown{
  padding: 10px 15px;
  width: 500px;
  margin-right: 30em;
  margin-top: 10px;
}

.display-products{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 24px;
}

.home-pics{
  width: 50%;
}

.filtered-images{
  width: 50%;
  padding-left: 20em;
}
.single-product-image{
  width: 40%;
}

.product-details-image {
  width: 30%;

}
.add-to-cart-single-item-view {
  margin: 10px;
}

.cart-item-img {
  width: 30%;
  margin-right: 500px;
}


.cart-item-card {
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 600px;
  margin: 10px;
  padding: 40px;
}

.cart-item-details {
  text-align: right;
}

.checkout-form{
  display: grid;
  width: 10em;
  margin-left: 35em;
}

.log-out-button {
  margin-top: 40px;
}

h3 {
  text-align: right;
  font-size: medium;
  
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


